body {
}

#photoId{
  margin-top: 10px;
}

#entirePhoto {
  margin-top: 5px;
  border: solid;
  border-width: 2px;
  border-radius: 7px;
  border-color: #DFE2D5;
}

#content{
  padding: 4px 7px 4px 4px;

}
